@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 40px;
  font: $base-text-size / 1 $base-font-family;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-template-rows: 50px 50px 50px;
}

.grid div {
  background-color: rgb(137, 160, 218);
  padding: 5px;
  padding-left: 10px;
}
